<div class="guestbox">

    <h2>
		About {{ page.guest.name }}
	</h2>

    <p>
		{{ page.guest.bio }}
	</p>

    <ul>

    {% assign customlinks = page.guest.customlinks %}
    {% if customlinks %}

    {% for customlink in customlinks %}
        <li><a href="{{ customlink.url }}">{{ customlink.title }}</a></li>
    {% endfor %}

    {% endif %}

        <li><a href="{{ page.guest.url }}">Website</a></li>
    {% if page.guest.twitter %}
        <li><a href="{{ page.guest.twitter | prepend: 'https://twitter.com/' }}">Twitter {{ page.guest.twitter | prepend: "@" }}</a></li>
    {% endif %}
    </ul>

</div>
