<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}

  <!-- Feeds -->
  <link type="application/rss+xml" rel="alternate" href="{{ 'news.xml' | absolute_url }}" title="Protesilaos Stavrou: News and Announcements" />
  <link type="application/rss+xml" rel="alternate" href="{{ 'politics.xml' | absolute_url }}" title="Protesilaos Stavrou: Political Writings" />
  <link type="application/rss+xml" rel="alternate" href="{{ 'codelog.xml' | absolute_url }}" title="Protesilaos Stavrou: Coding blog" />
  <link type="application/rss+xml" rel="alternate" href="{{ 'books.xml' | absolute_url }}" title="Protesilaos Stavrou: Books and Essays" />
  <link type="application/rss+xml" rel="alternate" href="{{ 'commentary.xml' | absolute_url }}" title="Protesilaos Stavrou: Comments on life" />
  <link type="application/rss+xml" rel="alternate" href="{{ 'interpretations.xml' | absolute_url }}" title="Protesilaos Stavrou: Interpretations and critiques" />
  <link type="application/rss+xml" rel="alternate" href="{{ 'poems.xml' | absolute_url }}" title="Protesilaos Stavrou: My poems" />
  <link type="application/rss+xml" rel="alternate" href="{{ 'keeb.xml' | absolute_url }}" title="Protesilaos Stavrou: Mechanical keyboards and ergonomics" />
  <link type="application/rss+xml" rel="alternate" href="{{ 'master.xml' | absolute_url }}" title="Protesilaos Stavrou: Master feed with all updates" />

  <!-- Favicon -->
  <link rel="shortcut icon" sizes="16x16 32x32 64x64 128x128" href="{{ '/favicon.ico?v=202008021026' | absolute_url }}">

  <!-- Style sheets -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | absolute_url }}">
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/style-print.css' | absolute_url }}" media="print">

</head>
