<div class="infobar">

	<div class="infobar-inner">

		<a class="skip-link screen-reader-text" href="#content">Skip to content</a>

		{% unless page.url == '/' | absolute_url %}
		<div class="infobar-header">
			<a href="{{ site.url }}">{{ site.title }}</a>
			<br/>
			<small>{{ site.description }}</small>
		</div>
		{% else %}
		<div class="infobar-header">
			<a href="{{ site.url }}">protesilaos.com</a>
			<br/>
			<small>Home page</small>
		</div>
		{% endunless %}

		<div class="infobar-menu">
			<nav id="infobar-main-menu" class="infobar-navigation" aria-label="Main menu">{% include navigation.html %}</nav>
		</div>

	</div>

</div>
