<div class="nextprev">

{% if page.next.url %}
    <div class="nextprev-item">
        <span class="nextprev-link">Next:</span><a class="next" rel="next" href="{{ page.next.url | prepend: site.url }}">{{ page.next.title }}</a>
    </div>
{% endif %}

{% if page.previous.url %}
    <div class="nextprev-item">
        <span class="nextprev-link">Previous:</span><a class="prev" rel="prev" href="{{ page.previous.url | prepend: site.url }}">{{ page.previous.title }}</a>
    </div>
{% endif %}

{% if page.index %}
    <div class="nextprev-item">
        <span class="nextprev-link">See all:</span> <a href="{{ page.index | prepend: site.url }}">{{ page.group }}</a>
    </div>
{% endif %}

</div>
