.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.skip-link {
    display: block;
    left: -9999em;
    outline: none;
    padding: $space-1 $space-2;
    top: -9999em;

    &:focus {
        clip: auto;
        height: auto;
        left: $space-1;
        top: $space-1;
        width: auto;
        z-index: 100000;
    }
}
