:root {
    // Check: <https://protesilaos.com/emacs/modus-themes-colors>
    --modus-themes-color-black:              #000000;
    --modus-themes-color-black-alt:          #595959;
    --modus-themes-color-red:                #a60000;
    --modus-themes-color-red-alt:            #972500;
    --modus-themes-color-green:              #006800;
    --modus-themes-color-green-alt:          #316500;
    --modus-themes-color-yellow:             #6f5500;
    --modus-themes-color-yellow-alt:         #884900;
    --modus-themes-color-blue:               #0031a9;
    --modus-themes-color-blue-alt:           #354fcf;
    --modus-themes-color-magenta:            #8f0075;
    --modus-themes-color-magenta-alt:        #531ab6;
    --modus-themes-color-cyan:               #005e8b;
    --modus-themes-color-cyan-alt:           #005f5f;
    --modus-themes-color-white-alt:          #f0f0f0;
    --modus-themes-color-white:              #ffffff;
    --modus-themes-color-calm:               #61284f;
    --modus-themes-color-cold:               #093060;
    --modus-themes-color-mild:               #184034;
    --modus-themes-color-warm:               #5d3026;
    --modus-themes-color-bgdim:              #f8f8f8;
    --modus-themes-color-brandbg:            #ebebeb;
    --modus-themes-color-brandfg:            #424242;
    --modus-themes-color-brandlink:          #002f40;
    --modus-themes-color-basebg:             var(--modus-themes-color-white);
    --modus-themes-color-basebgalt:          var(--modus-themes-color-white-alt);
    --modus-themes-color-basefg:             var(--modus-themes-color-black);
    --modus-themes-color-basefgalt:          var(--modus-themes-color-black-alt);
    --modus-themes-color-baselinkfg:         var(--modus-themes-color-blue);
    --modus-themes-color-baselinkfgalt:      var(--modus-themes-color-cyan);
    --modus-themes-color-baselinkfghover:    var(--modus-themes-color-blue-alt);
    --modus-themes-color-baselinkfgalthover: var(--modus-themes-color-cyan-alt);
    --modus-themes-color-inlinecodefg:       var(--modus-themes-color-magenta);
    --modus-themes-color-inlinecodefgalt:    var(--modus-themes-color-cyan);
    --modus-themes-color-codeblockbg:        var(--modus-themes-color-bgdim);
    --modus-themes-color-codeblockfg:        var(--modus-themes-color-basefg);
}

@media (prefers-color-scheme: dark) {
    :root {
        --modus-themes-color-black:       #000000;
        --modus-themes-color-black-alt:   #1e1e1e;
        --modus-themes-color-red:         #ff5f59;
        --modus-themes-color-red-alt:     #ff6b55;
        --modus-themes-color-green:       #44bc44;
        --modus-themes-color-green-alt:   #70b900;
        --modus-themes-color-yellow:      #d0bc00;
        --modus-themes-color-yellow-alt:  #fec43f;
        --modus-themes-color-blue:        #2fafff;
        --modus-themes-color-blue-alt:    #79a8ff;
        --modus-themes-color-magenta:     #f78fe7;
        --modus-themes-color-magenta-alt: #b6a0ff;
        --modus-themes-color-cyan:        #00d3d0;
        --modus-themes-color-cyan-alt:    #6ae4b9;
        --modus-themes-color-white-alt:   #989898;
        --modus-themes-color-white:       #ffffff;
        --modus-themes-color-calm:        #fbd6f4;
        --modus-themes-color-cold:        #c6eaff;
        --modus-themes-color-mild:        #bfebe0;
        --modus-themes-color-warm:        #f8dec0;
        --modus-themes-color-bgdim:       #110b11;
        --modus-themes-color-brandbg:     #121212;
        --modus-themes-color-brandfg:     #b2a2a2;
        --modus-themes-color-brandlink:   #c8d4df;
        --modus-themes-color-basebg:      var(--modus-themes-color-black);
        --modus-themes-color-basebgalt:   var(--modus-themes-color-black-alt);
        --modus-themes-color-basefg:      var(--modus-themes-color-white);
        --modus-themes-color-basefgalt:   var(--modus-themes-color-white-alt);
    }
}

html {
    @include desktop {
        font-size: $base-font-size + 4;
    }

    font-family: sans-serif;
    font-size: $base-font-size;
    -webkit-text-size-adjust: 100%;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

body {
    background-color: var(--modus-themes-color-basebg);
    color: var(--modus-themes-color-basefg);
    font-family: $font-family-body;
    line-height: $line-height;
    margin: 0;
    word-wrap: break-word;
}

hr {
    background: var(--modus-themes-color-basefgalt);
    display: block;
    border: 0;
    width: 100%;
    height: 1px;
    margin: $vertical-rhythm-1 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-heading;
    line-height: $heading-line-height;
    padding: 0;
    margin-bottom: $space-0;
}

h1,
.h1 {
    font-size: $xxxlsize;
    font-weight: 700;
}

h2,
.h2 {
    font-size: $xxlsize;
    font-weight: 700;
    color: var(--modus-themes-color-warm);
}

h3,
.h3 {
    font-size: $xlsize;
    font-weight: 700;
    color: var(--modus-themes-color-cold);
}

h4,
.h4 {
    font-size: $lsize;
    font-weight: 700;
    color: var(--modus-themes-color-mild);
}

h5,
.h5 {
    font-size: $lsize;
    font-weight: 700;
    color: var(--modus-themes-color-calm);
}

h6,
.h6 {
    font-size: $msize;
    font-weight: 700;
    color: var(--modus-themes-color-basefgalt);
}

p {
    margin: 0 0 $vertical-rhythm-0;
    padding: 0;
}

b,
strong {
    font-weight: 700;
}

i,
em {
    font-style: italic;
}

blockquote {                    // also check _post.scss
    @include tablet {
        padding-left: $vertical-rhythm-1;
    }

    @include desktop {
        padding-left: $vertical-rhythm-2;
    }

    margin: 0;
    padding-left: $vertical-rhythm-0;
    border-left: 2px dashed var(--modus-themes-color-basefgalt);
}

ul,
ol {
    margin: 0 0 $vertical-rhythm-0;
    padding: 0 0 0 $vertical-rhythm-0;
}

pre,
code,
samp {
    font-family: $font-family-code;
}

pre {
    background: var(--modus-themes-color-codeblockbg);
    font-size: $ssize;
    margin: $vertical-rhythm-0 0;
    padding: $space-1;
    padding-left: $vertical-rhythm-0;
    white-space: pre-wrap;
    overflow-x: auto;
    word-break: normal;
    word-wrap: inherit;
    border-top: 5px solid var(--modus-themes-color-basebgalt);
    border-bottom: 5px solid var(--modus-themes-color-basebgalt);
}

table {
    @include tablet {
        margin: $vertical-rhythm-1 0;
    }

    margin: $vertical-rhythm-0 0;
    border-collapse: collapse;
    font-size: $xssize;
}

thead {
    background-color: var(--modus-themes-color-bgdim);
}

th {
    border: 3px solid var(--modus-themes-color-basebgalt);
    padding: $space-0;
}

tbody {
    border: 3px solid var(--modus-themes-color-basebgalt);
}

td {
    border: 1px solid var(--modus-themes-color-basebgalt);
    padding: $space-0;
}

tr:nth-child(even) {
    background-color: var(--modus-themes-color-bgdim);
}

tr:hover {
    background-color: var(--modus-themes-color-basebgalt);
}

figure {
    margin: 0;
    padding: 0;
}

img {
    border: 1px dotted var(--modus-themes-color-basefgalt);
    height: auto;
    max-width: 100%;
}

small {
    font-size: $xssize;
}

abbr[title] {
    border-bottom: 1px dotted;
    text-decoration: none;
    cursor: help;
}

sub,
sup {
    font-size: 85%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

time {
    font-variant: tabular-nums;
}

dt {
    font-weight: 700;
}
