a {
    color: var(--modus-themes-color-baselinkfg);
    text-decoration: underline;

    &:hover,
    &:focus {
        background: var(--modus-themes-color-baselinkfghover);
        color: var(--modus-themes-color-basebg);
        outline: none;
        text-decoration: none;
    }

    &:visited {
        color: var(--modus-themes-color-baselinkfgalt);

        &:hover,
        &:focus {
            background: var(--modus-themes-color-baselinkfgalthover);
            color: var(--modus-themes-color-basebg);
        }
    }

    // Brand styles
    .infobar & {
        color: var(--modus-themes-color-brandlink);
        text-decoration: none;

        &:hover,
        &:focus {
            background: var(--modus-themes-color-brandlink);
            color: var(--modus-themes-color-brandbg);
        }
    }

    .button &,
    .index-rss &,
    &[href^="#fn"] {
        text-decoration: none;
    }

    // Skip to content
    &.skip-link {
        background: var(--modus-themes-color-green-alt) !important;
        color: var(--modus-themes-color-basebg) !important;

        &:hover {
            background: var(--modus-themes-color-cyan-alt) !important;
        }
    }
}
