.nextprev {
    display: block;
    margin: $vertical-rhythm-1 auto 0;
    padding: $vertical-rhythm-1 0;
    border-top: 1px dashed var(--modus-themes-color-basefgalt);
    overflow: hidden;

    div {
        display: block;
        padding: $vertical-rhythm-0 0;

        &:last-child {
            padding: $vertical-rhythm-0 0;
        }

        + div {
            padding-top: $vertical-rhythm-0;
        }
    }

    span {
        color: var(--modus-themes-color-basefgalt);
        margin-right: $space-0;
    }
}
