// NOTE also see the notification mixin in _variables
%notification {
    font-family: $font-family-ui;
    padding: $space-1;
    margin: $vertical-rhythm-0 0;
}

.info {
    @extend %notification;
    border: 1px solid var(--modus-themes-color-blue-alt);
    border-left: 10px solid var(--modus-themes-color-blue-alt);
}

.note {
    @extend %notification;
    border: 1px solid var(--modus-themes-color-green-alt);
    border-left: 10px solid var(--modus-themes-color-green-alt);
}

.warn {
    @extend %notification;
    border: 1px solid var(--modus-themes-color-yellow-alt);
    border-left: 10px solid var(--modus-themes-color-yellow-alt);
}

.critical {
    @extend %notification;
    border: 1px solid var(--modus-themes-color-red);
    border-left: 10px solid var(--modus-themes-color-red);
}

.banner {
    @extend %notification;
    background: var(--modus-themes-color-bgdim);
    border: 1px solid var(--modus-themes-color-magenta);
    border-left: 10px solid var(--modus-themes-color-magenta);
}
