// NOTE also see the notification mixin in _variables
%notification {
    font-family: $font-family-ui;
    font-size: $ssize;
    padding: $space-1;
    margin: $vertical-rhythm-0 0;
}

.info {
    @extend %notification;
    border: 1px solid var(--prot-col-notifyinfo);
    border-left: 10px solid var(--prot-col-notifyinfo);
}

.note {
    @extend %notification;
    border: 1px solid var(--prot-col-notifynote);
    border-left: 10px solid var(--prot-col-notifynote);
}

.warn {
    @extend %notification;
    border: 1px solid var(--prot-col-notifywarn);
    border-left: 10px solid var(--prot-col-notifywarn);
}

.critical {
    @extend %notification;
    border: 1px solid var(--prot-col-notifycrit);
    border-left: 10px solid var(--prot-col-notifycrit);
}
