.post,
.post-header-inner,
.post-footer-inner {
    @include fluid-width-measure;
    padding: $space-1;
}

.post-header {
    @include tablet {
        padding-bottom: $vertical-rhythm-0;
    }

    padding: 0;

    h1 {
        margin-top: 0;
    }

    .subtitle { // Inherits styles from h2
        font-weight: 400;
        color: var(--prot-col-basefgalt);
    }
}

.post-header-meta {
    @extend p;

    h4,
    span,
    time {
        &:not(a) {
            color: var(--prot-col-basefgalt);
        }
    }
}

p,
li,
dd {
    code {
        background: var(--prot-col-inlinecodebg);
        color: var(--prot-col-inlinecodefg);
        font-size: $ssize;
        padding: 0 ($space-0 / 2);
    }

    pre {
        code {
            background: none;
        }
    }
}

p,
ul,
ol,
li,
dd,
dt, {                           // TODO: May need to be extended
    max-width: $measure-l;
}

blockquote p {                  // also check _base.scss
    @include tablet {
        max-width: calc(#{$measure-l} - #{$vertical-rhythm-1});
    }

    @include desktop {
        max-width: calc(#{$measure-l} - #{$vertical-rhythm-2});
    }
}
