p + h2,
p + h3,
ul + h2,
ul + h3,
ol + h2,
ol + h3,
blockquote + h2,
blockquote + h3,
div + h2,
div + h3,
small + h2,
small + h3,
pre + h2,
pre + h3 {
    @include tablet {
        margin-top: $vertical-rhythm-1;
    }

    margin-top: $vertical-rhythm-0;
}

// h6 is used in post-header-meta
h1 + h2.subtitle,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6,
h1 + h6,
h2 + h6,
h3 + h6 {
    margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 0;
}

li + li {
    margin-top: $space-0
}

ol ul {
    list-style-type: disc;
}

.print-meta {
    display: none; // Hide and then reveal on print
}

.print-note p {
    margin-bottom: 0;
}
