.index-blog-post-container::before,
.clearfix::before {
    content: '';
    display: table;
}

.index-blog-post-container::after,
.clearfix::after {
    clear: both;
    content: '';
    display: table;
}

.index-blog-redirection-button a {
    display: inline-block;
    color: var(--prot-color-base-link-fg);
    padding: 0.5rem 1rem;
    border: 1px solid var(--prot-color-base-link-fg);
}
.index-blog-redirection-button a:hover,
.index-blog-redirection-button a:focus {
    background: var(--prot-color-base-link-hover-bg);
    color: var(--prot-color-base-bg);
    border-color: var(--prot-color-base-link-hover-bg);
}

/* The light theme is based on the 'modus-operandi' theme from my
   'modus-themes' package for Emacs.  The dark theme is based on
   'modus-vivendi', from the same package. */
:root {
    --prot-color-black-fg:           #000000;
    --prot-color-grey-dark-fg:       #595959;
    --prot-color-red-fg:             #a0132f;
    --prot-color-green-fg:           #00663f;
    --prot-color-yellow-fg:          #7a4f2f;
    --prot-color-blue-fg:            #3548cf;
    --prot-color-magenta-fg:         #531ab6;
    --prot-color-cyan-fg:            #005f5f;
    --prot-color-grey-light-fg:      #efefef;
    --prot-color-white-fg:           #ffffff;
    --prot-color-red-bg:             #ffe8e8;
    --prot-color-green-bg:           #e0f6e0;
    --prot-color-yellow-bg:          #f8f0d0;
    --prot-color-blue-bg:            #ecedff;
    --prot-color-magenta-bg:         #f8e6f5;
    --prot-color-cyan-bg:            #e0f2fa;
    --prot-color-infobar-bg:         #ebebeb;
    --prot-color-infobar-fg:         #524040;
    --prot-color-infobar-link-fg:    #002f40;
    --prot-color-base-bg:            var(--prot-color-white-fg);
    --prot-color-base-dim-bg:        var(--prot-color-grey-light-fg);
    --prot-color-base-fg:            var(--prot-color-black-fg);
    --prot-color-base-dim-fg:        var(--prot-color-grey-dark-fg);
    --prot-color-base-link-fg:       var(--prot-color-blue-fg);
    --prot-color-base-link-alt-fg:   var(--prot-color-magenta-fg);
    --prot-color-base-link-hover-bg: var(--prot-color-cyan-fg);
    --prot-color-base-link-hover-fg: var(--prot-color-cyan-bg);
    --prot-color-inline-code-bg:     var(--prot-color-base-bg);
    --prot-color-inline-code-fg:     var(--prot-color-cyan-fg);
    --prot-color-code-keyword-fg:    var(--prot-color-magenta-fg);
    --prot-color-code-string-fg:     var(--prot-color-cyan-fg);
    --prot-color-code-block-bg:      var(--prot-color-base-dim-bg);
    --prot-color-code-block-fg:      var(--prot-color-base-fg);
}

@media (prefers-color-scheme: dark) {
    :root {
        --prot-color-black-fg:         #000000;
        --prot-color-grey-dark-fg:     #1e1e1e;
        --prot-color-red-fg:           #ff7f86;
        --prot-color-green-fg:         #00c06f;
        --prot-color-yellow-fg:        #dfaf7a;
        --prot-color-blue-fg:          #79a8ff;
        --prot-color-magenta-fg:       #b6a0ff;
        --prot-color-cyan-fg:          #6ae4b9;
        --prot-color-grey-light-fg:    #989898;
        --prot-color-white-fg:         #ffffff;
        --prot-color-red-bg:           #3a0c14;
        --prot-color-green-bg:         #092f1f;
        --prot-color-yellow-bg:        #381d0f;
        --prot-color-blue-bg:          #12154a;
        --prot-color-magenta-bg:       #2f0c3f;
        --prot-color-cyan-bg:          #042837;
        --prot-color-infobar-bg:       #202020;
        --prot-color-infobar-fg:       #b2a2a2;
        --prot-color-infobar-link-fg:  #c8d4df;
        --prot-color-base-bg:          var(--prot-color-black-fg);
        --prot-color-base-dim-bg:      var(--prot-color-grey-dark-fg);
        --prot-color-base-fg:          var(--prot-color-white-fg);
        --prot-color-base-dim-fg:      var(--prot-color-grey-light-fg);
    }
}

html {
    font-family: sans-serif;
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
}
@media screen and (min-width: 75em) {
    html {
        font-size: 20px;
    }
}
article,
aside,
footer,
header,
nav,
section {
    display: block;
}

body {
    background-color: var(--prot-color-base-bg);
    color: var(--prot-color-base-fg);
    font-family: sans-serif;
    line-height: 1.44;
    margin: 0;
    word-wrap: break-word;
}

hr {
    background: var(--prot-color-base-dim-fg);
    display: block;
    border: 0;
    width: 100%;
    height: 1px;
    margin: 2.16rem auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
    line-height: 1.2;
    padding: 0;
    margin-bottom: 0.5rem;
}

h1,
.h1 {
    font-size: 2.073rem;
    font-weight: 700;
}

h2,
.h2 {
    font-size: 1.728rem;
    font-weight: 700;
    color: var(--prot-color-yellow-fg);
}

h3,
.h3 {
    font-size: 1.44rem;
    font-weight: 700;
    color: var(--prot-color-cyan-fg);
}

h4,
.h4 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--prot-color-magenta-fg);
}

h5,
.h5 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--prot-color-green-fg);
}

h6,
.h6 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--prot-color-base-dim-fg);
}

p,
.post-header-meta {
    margin: 0 0 1.44rem;
    padding: 0;
}

b,
strong {
    font-weight: 700;
}

i,
em {
    font-style: italic;
}

blockquote {
    color: var(--prot-color-mild);
    font-style: italic;
    margin: 0;
    padding-left: 1.44rem;
}
@media screen and (min-width: 44.375em) {
    blockquote {
        padding-left: 2.16rem;
    }
}
@media screen and (min-width: 75em) {
    blockquote {
        padding-left: 3.6rem;
    }
}
blockquote b, blockquote 9strong {
    font-style: normal;
    font-weight: 700;
}
blockquote i, blockquote em {
    font-style: italic;
    font-weight: 700;
}

ul,
ol {
    margin: 0 0 1.44rem;
    padding: 0 0 0 1.44rem;
}

pre,
code,
samp {
    font-family: monospace;
}

pre {
    background: var(--prot-color-code-block-bg);
    font-size: 0.889rem;
    margin: 1.44rem 0;
    padding: 1rem;
    padding-left: 1.44rem;
    white-space: pre-wrap;
    overflow-x: auto;
    word-break: normal;
    word-wrap: inherit;
    border-top: 1px solid var(--prot-color-base-dim-fg);
    border-bottom: 1px solid var(--prot-color-base-dim-fg);
}

table {
    margin: 1.44rem 0;
    border-collapse: collapse;
    font-size: 0.79rem;
}
@media screen and (min-width: 44.375em) {
    table {
        margin: 2.16rem 0;
    }
}
thead {
    background-color: var(--prot-color-base-dim-bg);
}

th {
    border: 5px solid var(--prot-color-base-dim-bg);
    padding: 0.5rem;
}

tbody {
    border: 5px solid var(--prot-color-base-dim-bg);
}

td {
    border: 1px solid var(--prot-color-base-dim-bg);
    padding: 0.5rem;
}

tr:hover {
    background-color: var(--prot-color-base-dim-bg);
}

figure {
    margin: 0;
    padding: 0;
}

img {
    height: auto;
    max-width: 100%;
}

small {
    font-size: 0.79rem;
}

abbr[title] {
    border-bottom: 1px dotted;
    text-decoration: none;
    cursor: help;
}

sub,
sup {
    font-size: 85%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

time {
    font-variant: tabular-nums;
}

dt {
    font-weight: 700;
}

.infobar {
    background: var(--prot-color-infobar-bg);
    color: var(--prot-color-infobar-fg);
    font-family: sans-serif;
}
@media screen and (min-width: 75em) {
    .infobar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: calc(100% / 5);
    }
}
.infobar-inner {
    max-width: 38rem;
    margin: 0 auto;
    padding: 1rem;
}
@media screen and (min-width: 75em) {
    .infobar-inner {
        position: absolute;
        right: 1rem;
        left: 1rem;
        bottom: 1rem;
    }
}
.infobar-header {
    padding: 0;
    margin: 0;
}
@media screen and (min-width: 75em) {
    .infobar-header {
        margin-bottom: 1.44rem;
    }
}
.infobar-navigation {
    padding: 1rem 0;
}
@media screen and (min-width: 75em) {
    .infobar-navigation {
        padding: 0;
    }
}
.infobar-navigation ul {
    display: inline;
    list-style-type: none;
    margin: 0.5rem 0 0;
    padding: 0;
}
@media screen and (min-width: 75em) {
    .infobar-navigation ul {
        display: block;
        margin: 0;
    }
}
.infobar-navigation ul li {
    display: inline-block;
    line-height: 2rem;
    margin-right: 0.5rem;
}
@media screen and (min-width: 75em) {
    .infobar-navigation ul li {
        display: block;
        line-height: 1.44rem;
    }
    .infobar-navigation ul li + li {
        margin-top: 0.5rem;
    }
}
.infobar-navigation ul li:last-child {
    margin-right: 0;
    padding-right: 0;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

main {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.container {
    margin: 1.44rem auto;
}
@media screen and (min-width: 44.375em) {
    .container {
        max-width: 42rem;
    }
}
@media screen and (min-width: 75em) {
    .container {
        max-width: 46rem;
        position: relative;
        margin-left: calc(calc(100% / 5) + 3.6rem);
    }
}
@media screen and (min-width: 90em) {
    .container {
        max-width: 62rem;
    }
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.skip-link {
    display: block;
    left: -9999em;
    outline: none;
    padding: 1rem 2rem;
    top: -9999em;
}
.skip-link:focus {
    clip: auto;
    height: auto;
    left: 1rem;
    top: 1rem;
    width: auto;
    z-index: 100000;
}

p + h2,
.post-header-meta + h2,
p + h3,
.post-header-meta + h3,
ul + h2,
ul + h3,
ol + h2,
ol + h3,
blockquote + h2,
blockquote + h3,
div + h2,
div + h3,
small + h2,
small + h3,
pre + h2,
pre + h3,
dd + dt,
div + p,
pre + p {
    margin-top: 1.44rem;
}
@media screen and (min-width: 44.375em) {
    p + h2,
    .post-header-meta + h2,
    p + h3,
    .post-header-meta + h3,
    ul + h2,
    ul + h3,
    ol + h2,
    ol + h3,
    blockquote + h2,
    blockquote + h3,
    div + h2,
    div + h3,
    small + h2,
    small + h3,
    pre + h2,
    pre + h3,
    dd + dt,
    div + p,
    pre + p {
        margin-top: 2.16rem;
    }
}
h1 + h2.subtitle,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6,
h1 + h6,
h2 + h6,
h3 + h6 {
    margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 0;
}

li + li,
li ul,
li ol {
    margin-top: 0.5rem;
}

ol ul {
    list-style-type: disc;
}

.print-meta {
    display: none;
}

.print-note p,
.print-note .post-header-meta {
    margin-bottom: 0;
}

a {
    color: var(--prot-color-base-link-fg);
    text-decoration: underline;
}
a:hover, a:focus {
    background: var(--prot-color-base-link-hover-bg);
    color: var(--prot-color-base-link-hover-fg);
    outline: none;
    text-decoration: none;
}
a:visited {
    color: var(--prot-color-base-link-alt-fg);
}
a:visited:hover, a:visited:focus {
    background: var(--prot-color-base-link-hover-bg);
    color: var(--prot-color-base-link-hover-fg);
}
.infobar a {
    color: var(--prot-color-infobar-link-fg);
    text-decoration: none;
}
.infobar a:hover,
.infobar a:focus {
    background: var(--prot-color-base-link-hover-bg);
    color: var(--prot-color-base-link-hover-fg);
}
.button a,
.index-rss a, a[href^="#fn"] {
    text-decoration: none;
}
a.skip-link {
    background: var(--prot-color-base-fg) !important;
    color: var(--prot-color-base-bg) !important;
}
a.skip-link:hover {
    background: var(--prot-color-base-dim-fg) !important;
}

.index-header-meta {
    margin: 1.44rem 0;
}
@media screen and (min-width: 75em) {
    .index-header-meta {
        margin: 2.16rem 0;
    }
}
.index-rss {
    display: block;
}

.index-rss-feed-text {
    margin-right: calc($space-0 / 2);
}

.index-rss-feed-label {
    color: var(--prot-color-red-fg);
}
.index-rss-feed-text:hover .index-rss-feed-label,
.index-rss-feed-text:focus .index-rss-feed-label {
    color: inherit;
}

.index-blog {
    margin-bottom: 2.16rem;
}
.index-blog ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.index-blog ul li + li {
    margin-top: 1rem;
}
.index-blog article + article {
    margin-top: 2.16rem;
}
@media screen and (min-width: 75em) {
    .index-blog article + article {
        margin-top: 3.6rem;
    }
}
.index-blog-post-timestamp {
    color: var(--prot-color-base-dim-fg);
    display: inline;
    margin: 0 0.5rem 0 0;
}
@media screen and (min-width: 44.375em) {
    .index-blog-post-timestamp {
        display: table-cell;
        padding: 0 1rem 0 0;
        margin: 0;
        min-width: 6em;
    }
}
.index-blog-post-link {
    display: inline;
}
@media screen and (min-width: 44.375em) {
    .index-blog-post-link {
        display: table-cell;
    }
}
.index-blog-post-collection {
    color: var(--prot-color-base-dim-fg);
    display: inline;
    margin: 0;
}
.index-blog-post-link:hover .index-blog-post-collection,
.index-blog-post-link:focus .index-blog-post-collection {
    color: inherit;
}

.index-blog-post-meta-label {
    color: var(--prot-color-yellow-fg);
}
.index-blog-post-link:hover .index-blog-post-meta-label,
.index-blog-post-link:focus .index-blog-post-meta-label {
    color: inherit;
}

.index-blog-section-heading {
    padding-bottom: 0.5rem;
    margin-bottom: 1.44rem;
    border-bottom: 1px dashed var(--prot-color-base-dim-fg);
}
@media screen and (min-width: 44.375em) {
    .index-blog-section-heading {
        margin-top: 2.16rem;
    }
}
.index-notice-card {
    font-family: sans-serif;
    font-size: 0.889rem;
    padding: 1rem;
    margin-top: 2.16rem;
    border: 1px solid var(--prot-color-notifyinfo);
    border-left: 10px solid var(--prot-color-notifyinfo);
}
@media screen and (min-width: 44.375em) {
    .index-notice-card {
        margin-top: 3.6rem;
    }
}
@media screen and (min-width: 75em) {
    .index-notice-card {
        margin-top: 5.04rem;
    }
}
.index-blog-redirection-button {
    margin-top: 2.16rem;
}
@media screen and (min-width: 44.375em) {
    .index-blog-redirection-button {
        margin-top: 3.6rem;
    }
}
.post,
.post-header-inner,
.post-footer-inner {
    display: block;
    max-width: 38rem;
    margin: 0 auto;
    padding: 1rem;
}
@media screen and (min-width: 44.375em) {
    .post,
    .post-header-inner,
    .post-footer-inner {
        max-width: 42rem;
    }
}
@media screen and (min-width: 75em) {
    .post,
    .post-header-inner,
    .post-footer-inner {
        max-width: 46rem;
    }
}
@media screen and (min-width: 90em) {
    .post,
    .post-header-inner,
    .post-footer-inner {
        max-width: 62rem;
    }
}
.post-header {
    padding: 0;
}
@media screen and (min-width: 44.375em) {
    .post-header {
        padding-bottom: 1.44rem;
    }
}
.post-header h1 {
    margin-top: 0;
}
.post-header .subtitle {
    font-weight: 400;
    color: var(--prot-color-base-dim-fg);
}

.post-header-meta h4:not(a),
.post-header-meta span:not(a),
.post-header-meta time:not(a) {
    color: var(--prot-color-base-dim-fg);
}

p code,
.post-header-meta code,
li code,
dd code {
    background: var(--prot-color-inline-code-bg);
    color: var(--prot-color-inline-code-fg);
    font-size: 0.889rem;
    padding: 0.1em;
}

p pre code,
.post-header-meta pre code,
li pre code,
dd pre code {
    background: none;
    color: var(--prot-color-code-block-fg);
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code,
dt code {
    background: var(--prot-color-inline-code-bg);
    color: var(--prot-color-inline-code-fg);
}

p,
.post-header-meta,
ul,
ol,
li,
dd,
dt {
    max-width: 46rem;
}

@media screen and (min-width: 44.375em) {
    blockquote p, blockquote .post-header-meta {
        max-width: calc(46rem - 2.16rem);
    }
}

@media screen and (min-width: 75em) {
    blockquote p, blockquote .post-header-meta {
        max-width: calc(46rem - 3.6rem);
    }
}

.post-body-poem pre,
.post-body-poem code,
.post-body-poem .highlight {
    background-color: unset;
    font-size: unset;
    font-family: unset;
    margin: unset;
    padding: unset;
    border: unset;
}

.highlight {
    background: var(--prot-color-code-block-bg);
    color: var(--prot-color-code-block-fg);
}
.highlight .bp,
.highlight .c,
.highlight .cm,
.highlight .cp,
.highlight .c1,
.highlight .cs {
    color: var(--prot-color-base-dim-fg);
    font-style: italic;
}
.highlight .err,
.highlight .gr,
.highhlight .gt {
    color: var(--prot-color-red-fg);
    font-weight: 700;
}
.highlight .k,
.highlight .nb {
    color: var(--prot-color-code-keyword-fg);
    font-weight: 700;
}

.highlight .ge {
    font-style: italic;
}

.highlight .gh {
}

.highlight .go,
.highlight .gp,
.highlight .gs,
.highlight .gu,
.highlight .kc,
.highlight .kd,
.highlight .kp,
.highlight .kr,
.highlight .o,
.highlight .ow {
    font-weight: 700;
}

.highlight .ne,
.highlight .nf,
.highlight .ss {
    color: var(--prot-color-code-keyword-fg);
}

.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .il {
}

.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s1,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx {
    color: var(--prot-color-code-string-fg);
}

.highlight .sr {

}
.highlight .vc,
.highlight .vg,
.highlight .vi {
}

.nextprev {
    display: block;
    margin: 2.16rem auto 0;
    padding: 2.16rem 0;
    border-top: 1px dashed var(--prot-color-base-dim-fg);
    overflow: hidden;
}
.nextprev div {
    display: block;
    padding: 1.44rem 0;
}
.nextprev div:last-child {
    padding: 1.44rem 0;
}
.nextprev div + div {
    padding-top: 1.44rem;
}
.nextprev span {
    color: var(--prot-color-base-dim-fg);
    margin-right: 0.5rem;
}

.banner,
.critical,
.warn,
.note,
.info {
    font-family: sans-serif;
    padding: 1rem;
    margin: 1.44rem 0;
}

.info {
    border: 1px solid var(--prot-color-blue-fg);
    border-left: 10px solid var(--prot-color-blue-fg);
}

.note {
    border: 1px solid var(--prot-color-cyan-fg);
    border-left: 10px solid var(--prot-color-cyan-fg);
}

.warn {
    border: 1px solid var(--prot-color-yellow-fg);
    border-left: 10px solid var(--prot-color-yellow-fg);
}

.critical {
    border: 1px solid var(--prot-color-red-fg);
    border-left: 10px solid var(--prot-color-red-fg);
}

.banner {
    background: var(--prot-color-yellow-bg);
    color: var(--prot-color-base-fg);
    font-size: 1.1rem;
    border: 1px solid var(--prot-color-red-fg);
    border-left: 10px solid var(--prot-color-red-fg);
}

.guestbox {
    background: var(--prot-color-base-dim-bg);
    margin: 1.44rem 0;
    padding: 1rem;
}

.medialayer {
    width: 100%;
    padding: 0 0 1.44rem 0;
    margin: 0 0 1.44rem 0;
}

.mediaframe {
    display: block;
    max-width: 38rem;
    margin: 0 auto;
    background: var(--prot-color-base-dim-bg);
}
@media screen and (min-width: 44.375em) {
    .mediaframe {
        max-width: 42rem;
    }
}
@media screen and (min-width: 75em) {
    .mediaframe {
        max-width: 46rem;
    }
}
@media screen and (min-width: 90em) {
    .mediaframe {
        max-width: 62rem;
    }
}
.mediawrapper {
    height: 0;
    padding-bottom: 56.25%;
    padding-top: 25px;
    position: relative;
}
.mediawrapper iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border: 0;
}

.footnote::before,
.footref::before {
    content: '[';
    display: inline;
}

.footnote::after,
.footref::after {
    content: ']';
    display: inline;
}

h2.footnotes {
    font-size: 1rem;
    margin: 1rem 0;
    padding: 1rem 0;
}

.footnotes {
    font-size: 0.889rem;
    margin: 3.6rem 0 0;
    padding: 1.44rem 0 0;
    border-top: 1px dotted var(--prot-color-base-dim-fg);
}
.footnotes p,
.footnotes .post-header-meta {
    margin-bottom: 0.5rem;
}

.footnum {
    font-size: 100%;
}
.footnum::before {
    content: '[^';
    display: inline;
}
.footnum::after {
    content: ']';
    display: inline;
}

.footer {
    display: block;
    max-width: 38rem;
    margin: 0 auto;
    font-size: 0.889rem;
    color: var(--prot-color-base-dim-fg);
    padding: 1rem;
}
@media screen and (min-width: 44.375em) {
    .footer {
        max-width: 42rem;
    }
}
@media screen and (min-width: 75em) {
    .footer {
        max-width: 46rem;
    }
}
@media screen and (min-width: 90em) {
    .footer {
        max-width: 62rem;
    }
}
@media screen and (min-width: 75em) {
    .footer {
        max-width: 46rem;
        position: relative;
        margin-left: calc(calc(100% / 5) + 3.6rem);
    }
}
.footer-block {
    padding: 0 0 0.5rem;
}
.footer-block + .footer-block {
    padding: 0.5rem 0;
    border-top: 1px dotted var(--prot-color-base-dim-fg);
}
