.index-blog-post-container::before, .clearfix::before {
  content: '';
  display: table; }

.index-blog-post-container::after, .clearfix::after {
  clear: both;
  content: '';
  display: table; }

.index-blog-redirection-button a {
  display: inline-block;
  color: var(--modus-themes-color-baselinkfg);
  padding: 0.5rem 1rem;
  border: 1px solid var(--modus-themes-color-baselinkfg); }
  .index-blog-redirection-button a:hover, .index-blog-redirection-button a:focus {
    background: var(--modus-themes-color-baselinkfghover);
    color: var(--modus-themes-color-basebg);
    border-color: var(--modus-themes-color-baselinkfghover); }

:root {
  --modus-themes-color-black:              #000000;
  --modus-themes-color-black-alt:          #595959;
  --modus-themes-color-red:                #a60000;
  --modus-themes-color-red-alt:            #972500;
  --modus-themes-color-green:              #006800;
  --modus-themes-color-green-alt:          #316500;
  --modus-themes-color-yellow:             #6f5500;
  --modus-themes-color-yellow-alt:         #884900;
  --modus-themes-color-blue:               #0031a9;
  --modus-themes-color-blue-alt:           #354fcf;
  --modus-themes-color-magenta:            #8f0075;
  --modus-themes-color-magenta-alt:        #531ab6;
  --modus-themes-color-cyan:               #005e8b;
  --modus-themes-color-cyan-alt:           #005f5f;
  --modus-themes-color-white-alt:          #f0f0f0;
  --modus-themes-color-white:              #ffffff;
  --modus-themes-color-red-bg:             #ffe6d8;
  --modus-themes-color-green-bg:           #e9f6df;
  --modus-themes-color-yellow-bg:          #f3eacf;
  --modus-themes-color-blue-bg:            #e9eaff;
  --modus-themes-color-magenta-bg:         #f3e3f1;
  --modus-themes-color-cyan-bg:            #daeff7;
  --modus-themes-color-calm:               #61284f;
  --modus-themes-color-cold:               #093060;
  --modus-themes-color-mild:               #184034;
  --modus-themes-color-warm:               #5d3026;
  --modus-themes-color-bgdim:              #f8f8f8;
  --modus-themes-color-brandbg:            #ebebeb;
  --modus-themes-color-brandfg:            #424242;
  --modus-themes-color-brandlink:          #002f40;
  --modus-themes-color-basebg:             var(--modus-themes-color-white);
  --modus-themes-color-basebgalt:          var(--modus-themes-color-white-alt);
  --modus-themes-color-basefg:             var(--modus-themes-color-black);
  --modus-themes-color-basefgalt:          var(--modus-themes-color-black-alt);
  --modus-themes-color-baselinkfg:         var(--modus-themes-color-blue);
  --modus-themes-color-baselinkfgalt:      var(--modus-themes-color-cyan);
  --modus-themes-color-baselinkfghover:    var(--modus-themes-color-blue-alt);
  --modus-themes-color-baselinkfgalthover: var(--modus-themes-color-cyan-alt);
  --modus-themes-color-inlinecodefg:       var(--modus-themes-color-magenta);
  --modus-themes-color-inlinecodefgalt:    var(--modus-themes-color-cyan);
  --modus-themes-color-codeblockbg:        var(--modus-themes-color-bgdim);
  --modus-themes-color-codeblockfg:        var(--modus-themes-color-basefg); }

@media (prefers-color-scheme: dark) {
  :root {
    --modus-themes-color-black:       #000000;
    --modus-themes-color-black-alt:   #1e1e1e;
    --modus-themes-color-red:         #ff5f59;
    --modus-themes-color-red-alt:     #ff6b55;
    --modus-themes-color-green:       #44bc44;
    --modus-themes-color-green-alt:   #70b900;
    --modus-themes-color-yellow:      #d0bc00;
    --modus-themes-color-yellow-alt:  #fec43f;
    --modus-themes-color-blue:        #2fafff;
    --modus-themes-color-blue-alt:    #79a8ff;
    --modus-themes-color-magenta:     #f78fe7;
    --modus-themes-color-magenta-alt: #b6a0ff;
    --modus-themes-color-cyan:        #00d3d0;
    --modus-themes-color-cyan-alt:    #6ae4b9;
    --modus-themes-color-white-alt:   #989898;
    --modus-themes-color-white:       #ffffff;
    --modus-themes-color-red-bg:      #35070f;
    --modus-themes-color-green-bg:    #172a12;
    --modus-themes-color-yellow-bg:   #2f270f;
    --modus-themes-color-blue-bg:     #1f2a43;
    --modus-themes-color-magenta-bg:  #291230;
    --modus-themes-color-cyan-bg:     #19323f;
    --modus-themes-color-calm:        #fbd6f4;
    --modus-themes-color-cold:        #c6eaff;
    --modus-themes-color-mild:        #bfebe0;
    --modus-themes-color-warm:        #f8dec0;
    --modus-themes-color-bgdim:       #110b11;
    --modus-themes-color-brandbg:     #121212;
    --modus-themes-color-brandfg:     #b2a2a2;
    --modus-themes-color-brandlink:   #c8d4df;
    --modus-themes-color-basebg:      var(--modus-themes-color-black);
    --modus-themes-color-basebgalt:   var(--modus-themes-color-black-alt);
    --modus-themes-color-basefg:      var(--modus-themes-color-white);
    --modus-themes-color-basefgalt:   var(--modus-themes-color-white-alt); } }

html {
  font-family: sans-serif;
  font-size: 16px;
  -webkit-text-size-adjust: 100%; }
  @media screen and (min-width: 75em) {
    html {
      font-size: 20px; } }
article,
aside,
footer,
header,
nav,
section {
  display: block; }

body {
  background-color: var(--modus-themes-color-basebg);
  color: var(--modus-themes-color-basefg);
  font-family: "Noto Sans", sans-serif;
  line-height: 1.44;
  margin: 0;
  word-wrap: break-word; }

hr {
  background: var(--modus-themes-color-basefgalt);
  display: block;
  border: 0;
  width: 100%;
  height: 1px;
  margin: 2.16rem auto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.2;
  padding: 0;
  margin-bottom: 0.5rem; }

h1,
.h1 {
  font-size: 2.073rem;
  font-weight: 700; }

h2,
.h2 {
  font-size: 1.728rem;
  font-weight: 700;
  color: var(--modus-themes-color-warm); }

h3,
.h3 {
  font-size: 1.44rem;
  font-weight: 700;
  color: var(--modus-themes-color-cold); }

h4,
.h4 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--modus-themes-color-mild); }

h5,
.h5 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--modus-themes-color-calm); }

h6,
.h6 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--modus-themes-color-basefgalt); }

p, .post-header-meta {
  margin: 0 0 1.44rem;
  padding: 0; }

b,
strong {
  font-weight: 700; }

i,
em {
  font-style: italic; }

blockquote {
  color: var(--modus-themes-color-mild);
  font-style: italic;
  margin: 0;
  padding-left: 1.44rem; }
  @media screen and (min-width: 44.375em) {
    blockquote {
      padding-left: 2.16rem; } }
  @media screen and (min-width: 75em) {
    blockquote {
      padding-left: 3.6rem; } }
  blockquote b, blockquote strong {
    font-style: normal;
    font-weight: 700; }
  blockquote i, blockquote em {
    font-style: italic;
    font-weight: 700; }

ul,
ol {
  margin: 0 0 1.44rem;
  padding: 0 0 0 1.44rem; }

pre,
code,
samp {
  font-family: Hack, "DejaVu Sans Mono", "Source Code Pro", monospace; }

pre {
  background: var(--modus-themes-color-codeblockbg);
  font-size: 0.889rem;
  margin: 1.44rem 0;
  padding: 1rem;
  padding-left: 1.44rem;
  white-space: pre-wrap;
  overflow-x: auto;
  word-break: normal;
  word-wrap: inherit;
  border-top: 5px solid var(--modus-themes-color-basebgalt);
  border-bottom: 5px solid var(--modus-themes-color-basebgalt); }

table {
  margin: 1.44rem 0;
  border-collapse: collapse;
  font-size: 0.79rem; }
  @media screen and (min-width: 44.375em) {
    table {
      margin: 2.16rem 0; } }
thead {
  background-color: var(--modus-themes-color-bgdim); }

th {
  border: 3px solid var(--modus-themes-color-basebgalt);
  padding: 0.5rem; }

tbody {
  border: 3px solid var(--modus-themes-color-basebgalt); }

td {
  border: 1px solid var(--modus-themes-color-basebgalt);
  padding: 0.5rem; }

tr:nth-child(even) {
  background-color: var(--modus-themes-color-bgdim); }

tr:hover {
  background-color: var(--modus-themes-color-basebgalt); }

figure {
  margin: 0;
  padding: 0; }

img {
  height: auto;
  max-width: 100%; }

small {
  font-size: 0.79rem; }

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
  cursor: help; }

sub,
sup {
  font-size: 85%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

time {
  font-variant: tabular-nums; }

dt {
  font-weight: 700; }

.infobar {
  background: var(--modus-themes-color-brandbg);
  color: var(--modus-themes-color-brandfg);
  font-family: "Noto Sans", sans-serif; }
  @media screen and (min-width: 75em) {
    .infobar {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: calc(100% / 5); } }
.infobar-inner {
  max-width: 38rem;
  margin: 0 auto;
  padding: 1rem; }
  @media screen and (min-width: 75em) {
    .infobar-inner {
      position: absolute;
      right: 1rem;
      left: 1rem;
      bottom: 1rem; } }
.infobar-header {
  padding: 0;
  margin: 0; }
  @media screen and (min-width: 75em) {
    .infobar-header {
      margin-bottom: 1.44rem; } }
.infobar-navigation {
  padding: 1rem 0; }
  @media screen and (min-width: 75em) {
    .infobar-navigation {
      padding: 0; } }
  .infobar-navigation ul {
    display: inline;
    list-style-type: none;
    margin: 0.5rem 0 0;
    padding: 0; }
    @media screen and (min-width: 75em) {
      .infobar-navigation ul {
        display: block;
        margin: 0; } }
    .infobar-navigation ul li {
      display: inline-block;
      line-height: 2rem;
      margin-right: 0.5rem; }
      @media screen and (min-width: 75em) {
        .infobar-navigation ul li {
          display: block;
          line-height: 1.44rem; }
          .infobar-navigation ul li + li {
            margin-top: 0.5rem; } }
      .infobar-navigation ul li:last-child {
        margin-right: 0;
        padding-right: 0; }

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh; }

main {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

.container {
  margin: 1.44rem auto; }
  @media screen and (min-width: 44.375em) {
    .container {
      max-width: 42rem; } }
  @media screen and (min-width: 75em) {
    .container {
      max-width: 46rem;
      position: relative;
      margin-left: calc(calc(100% / 5) + 3.6rem); } }
  @media screen and (min-width: 90em) {
    .container {
      max-width: 62rem; } }
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }

.skip-link {
  display: block;
  left: -9999em;
  outline: none;
  padding: 1rem 2rem;
  top: -9999em; }
  .skip-link:focus {
    clip: auto;
    height: auto;
    left: 1rem;
    top: 1rem;
    width: auto;
    z-index: 100000; }

p + h2, .post-header-meta + h2,
p + h3,
.post-header-meta + h3,
ul + h2,
ul + h3,
ol + h2,
ol + h3,
blockquote + h2,
blockquote + h3,
div + h2,
div + h3,
small + h2,
small + h3,
pre + h2,
pre + h3,
dd + dt,
pre + p {
  margin-top: 1.44rem; }
  @media screen and (min-width: 44.375em) {
    p + h2, .post-header-meta + h2,
    p + h3,
    .post-header-meta + h3,
    ul + h2,
    ul + h3,
    ol + h2,
    ol + h3,
    blockquote + h2,
    blockquote + h3,
    div + h2,
    div + h3,
    small + h2,
    small + h3,
    pre + h2,
    pre + h3,
    dd + dt {
      margin-top: 2.16rem; } }
h1 + h2.subtitle,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6,
h1 + h6,
h2 + h6,
h3 + h6 {
  margin-top: 0; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0; }

li + li,
li ul,
li ol {
  margin-top: 0.5rem; }

ol ul {
  list-style-type: disc; }

.print-meta {
  display: none; }

.print-note p, .print-note .post-header-meta {
  margin-bottom: 0; }

a {
  color: var(--modus-themes-color-baselinkfg);
  text-decoration: underline; }
  a:hover, a:focus {
    background: var(--modus-themes-color-baselinkfghover);
    color: var(--modus-themes-color-basebg);
    outline: none;
    text-decoration: none; }
  a:visited {
    color: var(--modus-themes-color-baselinkfgalt); }
    a:visited:hover, a:visited:focus {
      background: var(--modus-themes-color-baselinkfgalthover);
      color: var(--modus-themes-color-basebg); }
  .infobar a {
    color: var(--modus-themes-color-brandlink);
    text-decoration: none; }
    .infobar a:hover, .infobar a:focus {
      background: var(--modus-themes-color-brandlink);
      color: var(--modus-themes-color-brandbg); }
  .button a, .index-rss a, a[href^="#fn"] {
    text-decoration: none; }
  a.skip-link {
    background: var(--modus-themes-color-blue-alt) !important;
    color: var(--modus-themes-color-basebg) !important; }
    a.skip-link:hover {
      background: var(--modus-themes-color-cyan-alt) !important; }

.index-header-meta {
  margin: 1.44rem 0; }
  @media screen and (min-width: 75em) {
    .index-header-meta {
      margin: 2.16rem 0; } }
.index-rss {
  display: block; }

.index-rss-feed-text {
  margin-right: calc($space-0 / 2); }

.index-rss-feed-label {
  color: var(--modus-themes-color-red); }
  .index-rss-feed-text:hover .index-rss-feed-label, .index-rss-feed-text:focus .index-rss-feed-label {
    color: inherit; }

.index-blog {
  margin-bottom: 2.16rem; }
  .index-blog ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .index-blog ul li + li {
      margin-top: 1rem; }
  .index-blog article + article {
    margin-top: 2.16rem; }
    @media screen and (min-width: 75em) {
      .index-blog article + article {
        margin-top: 3.6rem; } }
.index-blog-post-timestamp {
  color: var(--modus-themes-color-basefgalt);
  display: inline;
  margin: 0 0.5rem 0 0; }
  @media screen and (min-width: 44.375em) {
    .index-blog-post-timestamp {
      display: table-cell;
      padding: 0 1rem 0 0;
      margin: 0;
      min-width: 6em; } }
.index-blog-post-link {
  display: inline; }
  @media screen and (min-width: 44.375em) {
    .index-blog-post-link {
      display: table-cell; } }
.index-blog-post-collection {
  color: var(--modus-themes-color-basefgalt);
  display: inline;
  margin: 0; }
  .index-blog-post-link:hover .index-blog-post-collection, .index-blog-post-link:focus .index-blog-post-collection {
    color: inherit; }

.index-blog-post-meta-label {
  color: var(--modus-themes-color-yellow-alt); }
  .index-blog-post-link:hover .index-blog-post-meta-label, .index-blog-post-link:focus .index-blog-post-meta-label {
    color: inherit; }

.index-blog-section-heading {
  padding-bottom: 0.5rem;
  margin-bottom: 1.44rem;
  border-bottom: 1px dashed var(--modus-themes-color-basefgalt); }
  @media screen and (min-width: 44.375em) {
    .index-blog-section-heading {
      margin-top: 2.16rem; } }
.index-notice-card {
  font-family: "Noto Sans", sans-serif;
  font-size: 0.889rem;
  padding: 1rem;
  margin-top: 2.16rem;
  border: 1px solid var(--modus-themes-color-notifyinfo);
  border-left: 10px solid var(--modus-themes-color-notifyinfo); }
  @media screen and (min-width: 44.375em) {
    .index-notice-card {
      margin-top: 3.6rem; } }
  @media screen and (min-width: 75em) {
    .index-notice-card {
      margin-top: 5.04rem; } }
.index-blog-redirection-button {
  margin-top: 2.16rem; }
  @media screen and (min-width: 44.375em) {
    .index-blog-redirection-button {
      margin-top: 3.6rem; } }
.post,
.post-header-inner,
.post-footer-inner {
  display: block;
  max-width: 38rem;
  margin: 0 auto;
  padding: 1rem; }
  @media screen and (min-width: 44.375em) {
    .post,
    .post-header-inner,
    .post-footer-inner {
      max-width: 42rem; } }
  @media screen and (min-width: 75em) {
    .post,
    .post-header-inner,
    .post-footer-inner {
      max-width: 46rem; } }
  @media screen and (min-width: 90em) {
    .post,
    .post-header-inner,
    .post-footer-inner {
      max-width: 62rem; } }
.post-header {
  padding: 0; }
  @media screen and (min-width: 44.375em) {
    .post-header {
      padding-bottom: 1.44rem; } }
  .post-header h1 {
    margin-top: 0; }
  .post-header .subtitle {
    font-weight: 400;
    color: var(--modus-themes-color-basefgalt); }

.post-header-meta h4:not(a),
.post-header-meta span:not(a),
.post-header-meta time:not(a) {
  color: var(--modus-themes-color-basefgalt); }

p code, .post-header-meta code,
li code,
dd code {
  color: var(--modus-themes-color-inlinecodefg);
  font-size: 0.889rem; }

p pre code, .post-header-meta pre code,
li pre code,
dd pre code {
  background: none;
  color: var(--modus-themes-color-codeblockfg); }

dt code {
  color: var(--modus-themes-color-inlinecodefgalt); }

p, .post-header-meta,
ul,
ol,
li,
dd,
dt {
  max-width: 46rem; }

@media screen and (min-width: 44.375em) {
  blockquote p, blockquote .post-header-meta {
    max-width: calc(46rem - 2.16rem); } }

@media screen and (min-width: 75em) {
  blockquote p, blockquote .post-header-meta {
    max-width: calc(46rem - 3.6rem); } }

.post-body-poem pre,
.post-body-poem code,
.post-body-poem .highlight {
  background-color: unset;
  font-size: unset;
  font-family: unset;
  margin: unset;
  padding: unset;
  border: unset; }

.highlight {
  background: var(--modus-themes-color-codeblockbg); }
  .highlight .bp, .highlight .c, .highlight .cm, .highlight .cp, .highlight .c1, .highlight .cs {
    color: var(--modus-themes-color-basefgalt);
    font-style: italic; }
  .highlight .err, .highlight .gr, .highlight .gt {
    color: var(--modus-themes-color-red);
    font-weight: 700; }
  .highlight .k, .highlight .nb {
    color: var(--modus-themes-color-magenta-alt);
    font-weight: 700; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gh {
    color: var(--modus-themes-color-basefgalt); }
  .highlight .go, .highlight .gp, .highlight .gs, .highlight .gu, .highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr, .highlight .o, .highlight .ow {
    font-weight: 700; }
  .highlight .ne, .highlight .nf, .highlight .ss {
    color: var(--modus-themes-color-magenta); }
  .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .il {
    color: var(--modus-themes-color-blue); }
  .highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s1, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx {
    color: var(--modus-themes-color-blue-alt); }
  .highlight .sr {
    color: var(--modus-themes-color-yellow); }
  .highlight .vc, .highlight .vg, .highlight .vi {
    color: var(--modus-themes-color-cyan); }

.nextprev {
  display: block;
  margin: 2.16rem auto 0;
  padding: 2.16rem 0;
  border-top: 1px dashed var(--modus-themes-color-basefgalt);
  overflow: hidden; }
  .nextprev div {
    display: block;
    padding: 1.44rem 0; }
    .nextprev div:last-child {
      padding: 1.44rem 0; }
    .nextprev div + div {
      padding-top: 1.44rem; }
  .nextprev span {
    color: var(--modus-themes-color-basefgalt);
    margin-right: 0.5rem; }

.banner-alt, .banner, .critical, .warn, .note, .info {
  font-family: "Noto Sans", sans-serif;
  padding: 1rem;
  margin: 1.44rem 0; }

.info {
  border: 1px solid var(--modus-themes-color-blue-alt);
  border-left: 10px solid var(--modus-themes-color-blue-alt); }

.note {
  border: 1px solid var(--modus-themes-color-green-alt);
  border-left: 10px solid var(--modus-themes-color-green-alt); }

.warn {
  border: 1px solid var(--modus-themes-color-yellow-alt);
  border-left: 10px solid var(--modus-themes-color-yellow-alt); }

.critical {
  border: 1px solid var(--modus-themes-color-red);
  border-left: 10px solid var(--modus-themes-color-red); }

.banner {
  background: var(--modus-themes-color-red-bg);
  border: 1px solid var(--modus-themes-color-red);
  border-left: 10px solid var(--modus-themes-color-red-alt); }

.banner-alt {
  background: var(--modus-themes-color-cyan-bg);
  border: 1px solid var(--modus-themes-color-cyan);
  border-left: 10px solid var(--modus-themes-color-cyan-alt); }

.guestbox {
  background: var(--modus-themes-color-basebgalt);
  margin: 1.44rem 0;
  padding: 1rem; }

.medialayer {
  width: 100%;
  padding: 0 0 1.44rem 0;
  margin: 0 0 1.44rem 0; }

.mediaframe {
  display: block;
  max-width: 38rem;
  margin: 0 auto;
  background: var(--modus-themes-color-basebgalt); }
  @media screen and (min-width: 44.375em) {
    .mediaframe {
      max-width: 42rem; } }
  @media screen and (min-width: 75em) {
    .mediaframe {
      max-width: 46rem; } }
  @media screen and (min-width: 90em) {
    .mediaframe {
      max-width: 62rem; } }
.mediawrapper {
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative; }
  .mediawrapper iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border: 0; }

.footnote::before,
.footref::before {
  content: '[';
  display: inline; }

.footnote::after,
.footref::after {
  content: ']';
  display: inline; }

h2.footnotes {
  font-size: 1rem;
  margin: 1rem 0;
  padding: 1rem 0; }

.footnotes {
  font-size: 0.889rem;
  margin: 3.6rem 0 0;
  padding: 1.44rem 0 0;
  border-top: 1px dotted var(--modus-themes-color-basefgalt); }
  .footnotes p, .footnotes .post-header-meta {
    margin-bottom: 0.5rem; }

.footnum {
  font-size: 100%; }
  .footnum::before {
    content: '[^';
    display: inline; }
  .footnum::after {
    content: ']';
    display: inline; }

.footer {
  display: block;
  max-width: 38rem;
  margin: 0 auto;
  font-size: 0.889rem;
  color: var(--modus-themes-color-basefgalt);
  padding: 1rem; }
  @media screen and (min-width: 44.375em) {
    .footer {
      max-width: 42rem; } }
  @media screen and (min-width: 75em) {
    .footer {
      max-width: 46rem; } }
  @media screen and (min-width: 90em) {
    .footer {
      max-width: 62rem; } }
  @media screen and (min-width: 75em) {
    .footer {
      max-width: 46rem;
      position: relative;
      margin-left: calc(calc(100% / 5) + 3.6rem); } }
.footer-block {
  padding: 0 0 0.5rem; }
  .footer-block + .footer-block {
    padding: 0.5rem 0;
    border-top: 1px dotted var(--modus-themes-color-basefgalt); }
