---
layout: index
title: "General commentary on life"
subtitle: "Comments or discussions on how to approach complex life issues"
excerpt: "A collection of comments or discusssions on how to approach complex life issues."
index-feed:
  text: Comments on life
  url: "/commentary.xml"
permalink: /commentary/
---

{% assign commentarys = site.commentary | sort: 'date' | reverse %}

<div class="index index-blog">

    <ul>
    {% assign current_year = "" %}
    {% for i in commentarys %}
    {% assign year = i.date | date: "%Y" %}
    {% if year != current_year %}
      {% assign current_year = year %}
      <h2 class="index-item-year-heading">{{ year }}</h2>
    {% endif %}
        <li class="index-blog-post-container">
          <time class="index-blog-post-timestamp">
            {{ i.date | date: site.date_format }}
          </time>
            <a class="index-blog-post-link" href="{{ i.url | relative_url }}"><span class="index-blog-post-heading">{{- i.title -}}</span></a>
        </li>
    {% endfor %}
    </ul>

    <div class="index-notice-card index-notification">
	  I often reply to emails and later think to myself: "hey, this
	  might be of interest to a wider audience".  If you ever wish to
	  ask me a question or hold a discussion about general life issues
	  and have it published here without any identifying information,
	  please <a href="https://protesilaos.com/contact">contact me</a>.
	  The publication can include the names of the people involved, or
	  it can be anonymous with potentially personally identifying
	  information edited out of the text---whatever you prefer.
	</div>


</div>
