---
layout: index
title: "Ατάκες και αστειϊσμοί"
subtitle: "Ανέκδοτα της καθημερινότητας μου"
excerpt: "Συλλογή από ατάκες, λογοπαίγνια, αστειϊσμούς, αληθινά ανέκδοτα της καθημερινότητας μου."
permalink: /jokes/
---

<p>
  Στην ενότητα αυτή θα βρείτε κάποια από τα λογοπαίγνια ή ατάκες που λέω
  εγώ ή αστείες καταστάσεις τις οποίες έχω βιώσει (αναφέρω σχετικά).
  Δεν τα γράφω όλα γιατί είναι πολλά και τα ξεχνάω.  Επίσης έχει κάποια
  που είναι άκρως ακατάλληλα.  Βέβαια κάποια που έχω εδώ είναι λίγο
  «πικάντικα», οπότε προσοχή.  Θα αναρτώ αυτά που μπορώ όταν προκύπτουν
  ή μου έρχονται στη μνήμη.
</p>

<hr>

{% assign jokes = site.jokes | sort: 'date' | reverse %}

<div class="index">

  {% assign current_year = "" %}
  {% for joke in jokes %}
  {% assign year = joke.date | date: "%Y" %}
  {% if year != current_year %}
    {% assign current_year = year %}
    <h2 class="index-item-year-heading">{{ year }}</h2>
  {% endif %}
  <article class="post">

	<div>
	  <h2>{{ joke.title }}</h2>

	  {% if joke.subtitle %}
	  <h4 class="subtitle">{{ joke.subtitle }}</h4>
	  {% endif %}
	  <div class="post-header-meta">
	  	<time datetime="{{ joke.date | date_to_xmlschema }}">
		  <a href="{{ joke.url | relative_url }}">
			{{ joke.date | date: site.date_format }}
		  </a>
		</time>
	  </div>
	</div>

	<div>
	  {{ joke.content }}
	</div>

  </article>
  {% endfor %}

  <div class="index-notice-card index-notification">
	'Όλες μου οι αναρτήσεις προσφέρονται δωρεάν ενώ είναι
	απελευθερωμένες από τους συνηθισμένους περιορισμούς του νομικού
	καθεστώτος για τα πνευματικά δικαιώματα. Δημοσιεύονται υπό τους
	όρους της Creative Commons Αναφορά-Παρόμοια Διανομή (CC BY-SA)
	4.0. Στην πράξη, αυτό σημαίνει πως δικαιούστε να αναδημοσιεύσετε τα
	κείμενα αυτά και να τα τροποποιήσετε, εφόσον αναφέρετε την αρχική
	πηγή (Πρωτεσίλαος Σταύρου · protesilaos.com) και εκδώσετε το δικό
	σας έργο υπό τους ίδιους όρους. Η πρακτική αυτή είναι γνωστή κι ως
	copyleft.'
  </div>

</div>
