---
layout: index
title: "Mechanical keyboards and ergonomics"
excerpt: "My experiences with mechanical keyboards and relevant ergonomics."
index-feed:
  text: Keyboards and ergonomics
  url: "/keeb.xml"
permalink: /keeb/
---
{% assign keeb = site.keeb | sort: 'date' | reverse %}

<div class="index index-blog">

  <ul>
    {% assign current_year = "" %}
    {% for new in keeb %}
    {% assign year = new.date | date: "%Y" %}
    {% if year != current_year %}
      {% assign current_year = year %}
      <h2 class="index-item-year-heading">{{ year }}</h2>
    {% endif %}
    <li class="index-blog-post-container">
      <time class="index-blog-post-timestamp">
        {{ new.date | date: site.date_format }}
      </time>
      <a class="index-blog-post-link" href="{{ new.url | relative_url }}"><span class="index-blog-post-heading">{{- new.title -}}</span></a>
    </li>
    {% endfor %}
  </ul>

</div>
