---
layout: index
title: "Poems"
excerpt: "My poetry is an expression of self, showing how I feel in the moment."
index-feed:
  text: My poetry
  url: "/poems.xml"
permalink: /poems/
---

<p>
  My poetry is but an attempt to record feelings.  All poems are
  written in one go.  I do not tend to their aesthetic appeal, as that
  requires extra processing which detracts from my truth in the
  moment.
</p>

<hr>

{% assign poems = site.poems | sort: 'date' | reverse %}

<div class="index">

  {% assign current_year = "" %}
  {% for i in poems %}
  {% assign year = i.date | date: "%Y" %}
  {% if year != current_year %}
    {% assign current_year = year %}
    <h2 class="index-item-year-heading">{{ year }}</h2>
  {% endif %}
  <article class="post">

	<div>
      <h3>{{ i.title }}</h3>

      {% if i.subtitle %}
      <h4 class="subtitle">{{ i.subtitle }}</h4>
      {% endif %}
      <div class="post-header-meta">
        <time datetime="{{ i.date | date_to_xmlschema }}">
          <a href="{{ i.url | relative_url }}">
            {{ i.date | date: site.date_format }}
          </a>
        </time>
      </div>
    </div>

	<div class="post-body">
      {{ i.content | markdownify }}
    </div>

  </article>
  {% endfor %}

</div>
