---
layout: index
title: "Pictures of me"
subtitle: "In which I may or may not appear naked"
excerpt: "A collection of selfies I take"
index-feed:
  text: My selfies
  url: "/selfies.xml"
permalink: /selfies/
---

<p>
  I noticed that my phone's camera roll did not have any
  picture involving humans. Not even a single selfie among thousands
  of photos! I have thus decided to change this by conditioning myself
  to accept what the camera is telling me.
</p>

<hr>

{% assign selfies = site.selfies | sort: 'date' | reverse %}

<div class="index index-blog">

  <ul>
    {% assign current_year = "" %}
    {% for i in selfies %}
    {% assign year = i.date | date: "%Y" %}
    {% if year != current_year %}
      {% assign current_year = year %}
      <h2 class="index-item-year-heading">{{ year }}</h2>
    {% endif %}
    <li class="index-blog-post-container">
      <time class="index-blog-post-timestamp">
        {{ i.date | date: site.date_format }}
      </time>
      <a class="index-blog-post-link" href="{{ i.url | relative_url }}"><span class="index-blog-post-heading">{{- i.title -}}</span></a>
    </li>
    {% endfor %}
  </ul>

</div>
