---
layout: default
---
<article class="post">

    <div class="post-inner">

        <div class="post-header">
            <h1>{{ page.title }}</h1>

            {% if page.subtitle %}
              <h2 class="subtitle">{{ page.subtitle }}</h2>
            {% endif %}
            <div class="post-header-meta">
                <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: site.date_format }}</time>
            </div>
        </div>

        <div class="post-body">

			<p class="warn">This post is archived. Opinions expressed
			herein may no longer represent my current views. Links,
			images and other media might not work as intended.
			Information may be out of date. For further questions <a
			href="/contact/">contact me</a>.</p>

            {{ content }}
        </div>
  
    </div>

</article>

<div class="post-footer">

    <div class="post-footer-inner">
        {% include nextprev.html %}
    </div>

</div>
