<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include infobar.html %}

    <main id="content" aria-label="Content">

      <div class="container">

        {% unless page.url contains '/coach/' %}

        {% assign month = site.time | date: "%m" | plus: 0 %}
        {% if month >= 3 and month <= 5 %}
          {% assign season = "Spring" %}
        {% elsif month >= 6 and month <= 8 %}
          {% assign season = "Summer" %}
        {% elsif month >= 9 and month <= 11 %}
          {% assign season = "Autumn" %}
        {% else %}
          {% assign season = "Winter" %}
        {% endif %}
        {% assign year = site.time | date: "%Y" %}

        <p class="banner">
          🏆 Continuing into {{ season }} {{ year }}, I offer one-on-one coaching on Emacs, Linux, or Life in general: <a href="https://protesilaos.com/coach/">https://protesilaos.com/coach/</a>. <strong>10 EUR per hour</strong>.
        </p>

        {% endunless %}

        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>
</html>
