<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include infobar.html %}

    <main id="content" aria-label="Content">

      <div class="container">

        <p class="critical">
          <strong>⚠️ IMPORTANT Status update 2022-12-25</strong> <a href="https://protesilaos.com/news/2022-12-25-job-status-update/">Please help me find a job and move countries</a>.
        </p>

        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>
</html>
