<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include infobar.html %}

    <main id="content" aria-label="Content">

      <div class="container">

        {% unless page.url contains '/coach/' %}

        <p class="banner">
          🏆 I provide private lessons on Emacs, Linux, and Life in general: <a href="https://protesilaos.com/coach/">https://protesilaos.com/coach/</a>. <strong>Prices are affordable</strong>.
        </p>

        {% endunless %}

        {% unless page.url contains '/prot-asks/' %}

        <p class="banner-alt">
          😀 Want to talk in public? Join my "Prot Asks" video series: <a href="https://protesilaos.com/prot-asks/">https://protesilaos.com/prot-asks/</a>
        </p>

        {% endunless %}

        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>
</html>
