---
layout: default
---
<article class="post">

	<div class="post-inner">

		<div class="post-header">
			<h1>{{ page.title }}</h1>

			{% if page.subtitle %}
			  <h2 class="subtitle">{{ page.subtitle }}</h2>
			{% endif %}
			<div class="post-header-meta">
				<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: site.date_format }}</time>
			</div>
		</div>

		<div class="post-body">

			{% if page.mediaid %}
			<div class="medialayer">
				<div class="mediaframe">
					<div class="mediawrapper">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.mediaid }}?rel=0&amp;showinfo=0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
			{% endif %}

			{{ content }}
		</div>

	</div>

</article>

<div class="post-footer">
  <div class="post-footer-inner">

      <div class="nextprev">
        {% if page.next.url %}
          <div class="nextprev-item">
            <span class="nextprev-link">Επόμενο:</span><a class="next" rel="next" href="{{ page.next.url | prepend: site.url }}">{{ page.next.title }}</a>
          </div>
        {% endif %}
        {% if page.previous.url %}
          <div class="nextprev-item">
            <span class="nextprev-link">Προηγούμενο:</span><a class="prev" rel="prev" href="{{ page.previous.url | prepend: site.url }}">{{ page.previous.title }}</a>
          </div>
        {% endif %}
        {% if page.index %}
          <div class="nextprev-item">
            <span class="nextprev-link">Περισσότερα:</span> <a href="{{ page.index | prepend: site.url }}">{{ page.group }}</a>
          </div>
        {% endif %}
      </div>

  </div>
</div>
