---
layout: default
---
<article class="post">

  <div class="post-inner">

    <div class="post-header">
      <h1>{{ page.title }}</h1>
      {% if page.subtitle %}
      <h2 class="subtitle">{{ page.subtitle }}</h2>
      {% endif %}
      <div class="post-header-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: site.date_format }}</time>
      </div>
    </div>

    <div class="post-body">

      {{ content }}

      <hr/>

      <p>
        My poetry is but an attempt to record feelings.  All poems are
        written in one go.  I do not tend to their aesthetic appeal, as that
        requires extra processing which detracts from my truth in the
        moment.
      </p>

    </div>

  </div>

</article>

<div class="post-footer">

  <div class="post-footer-inner">
    {% include nextprev.html %}
  </div>

</div>
